<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akounto.accountingsoftware">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <application
        android:name="com.akounto.accountingsoftware.util.AppSingle"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.akounto.accountingsoftware.Activity.SalesInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.CreateInvoice"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.CustomerList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.AddCustomers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.ItemList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.InvoiceList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.AddItem"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.Invoice.EditItem"
            android:screenOrientation="portrait" />
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.CreateBill"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.BillList"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.ListVendor"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.ListPurchaseItem"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.AddBillItem"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.WelcomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.EditBillItem"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bank.BankListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.ViewBill"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SignUpDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.AddJournalTransactionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SendEstimateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.ViewRecurringInvoiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.EditChatOfAccount"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.TnCActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.CreateInvoiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.CreateEstimateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.AddCustomersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.AddVendorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.CreatingProductsAndServices"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.NotifcationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.CompanyProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.HangTightActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.GetStartedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.ForgotPassword"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.AddTransactionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SIgnUpStep0"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SignUpStep1"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SignUpStep2"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.SignUpStep3"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Invoice.EditInvoice"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.UploadBankStatementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Invoice.ViewInvoice"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.Bill.EditBill"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.akounto.accountingsoftware.Activity.ProductAndCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.CreateProductsAndServicesPurchase"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity android:name="com.akounto.accountingsoftware.Activity.AddChatOfAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.akounto.accountingsoftware.Activity.EstimateDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.InvoiceDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.ViewPdfActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.BillDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.EditBillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.UploadSecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity android:name="com.akounto.accountingsoftware.Activity.AdvancedFilterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.akounto.accountingsoftware.Activity.UploadReceipt"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.akounto.accountingsoftware.Activity.CreateBillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.ExternalSignUp"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name="com.akounto.accountingsoftware.util.ActivityImagePicker"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name="com.akounto.accountingsoftware.Activity.SignInActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />

        <activity android:name="com.akounto.accountingsoftware.Activity.VideoAfterSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name="com.akounto.accountingsoftware.Activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.akounto.accountingsoftware.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.akounto.accountingsoftware.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:theme="@style/Dexter.Internal.Theme.Transparent" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:directBootAware="true"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>
        <!--  <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />

      <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>